@import 'src/style/variables';

:host {
  display: block;
}

.checkbox {
  $this: &;

  &__amount {
    margin-left: 8px;

    &.is-disabled {
      opacity: 0.5;
    }
  }

  &::ng-deep {
    .mat-checkbox-inner-container {
      margin-right: 12px;
      width: 14px;
      height: 14px;
    }

    .mat-checkbox-frame {
      border-color: $border-color;
      border-width: 1px;
    }

    .mat-checkbox-disabled.mat-checkbox-checked
    .mat-checkbox-background,
    .mat-checkbox-disabled.mat-checkbox-indeterminate
    .mat-checkbox-background {
      background-color: $background-interactive-primary-disabled;
    }

    .mat-checkbox-disabled.mat-checkbox-checked
    .mat-checkbox-frame,
    .mat-checkbox-disabled.mat-checkbox-indeterminate
    .mat-checkbox-frame {
      border: none;
    }
  }

  &.is-disabled {
    cursor: not-allowed;

    #{$this}__item {
      pointer-events: none;
    }
  }
}
