@import 'src/style/variables';
@import 'src/style/mixins';

:host {
  display: block;
}

.checkbox {
  $this: &;
  display: flex;
  align-items: center;

  &__amount {
    margin-left: 8px;
    @include font-primary(16px);

    &.is-disabled {
      opacity: 0.5;
    }
  }

  &::ng-deep {
    .mat-checkbox-inner-container {
      margin-right: 12px;
      width: 14px;
      height: 14px;
    }

    .mat-checkbox-frame {
      border-color: $border-color;
      border-width: 1px;
    }

    .mat-checkbox-disabled.mat-checkbox-checked
    .mat-checkbox-background,
    .mat-checkbox-disabled.mat-checkbox-indeterminate
    .mat-checkbox-background {
      background-color: $background-interactive-primary-disabled;
    }

    .mat-checkbox-disabled.mat-checkbox-checked
    .mat-checkbox-frame,
    .mat-checkbox-disabled.mat-checkbox-indeterminate
    .mat-checkbox-frame {
      border: none;
    }

    .mat-checkbox-label {
      @include font-primary(16px);
    }
  }

  &.is-disabled {
    cursor: not-allowed;

    #{$this}__item {
      pointer-events: none;
    }
  }
}
