<form
  class="side-filter-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <app-side-filter-header
    title="Filters"
    (returned)="onReturn()"
    (cleared)="onClear()"
  ></app-side-filter-header>

  <div class="side-filter-form__content">
    <fieldset class="side-filter-form__fieldset">
      <h3 class="side-filter-form__legend">Search by title and location</h3>
      <mat-form-field
        class="side-filter-form__field"
        appearance="outline"
      >
        <input
          matInput
          type="text"
          placeholder="What"
          [matAutocomplete]="whatSelect"
          formControlName="what"
        >

        <mat-icon matPrefix svgIcon="search"></mat-icon>

        <mat-autocomplete #whatSelect="matAutocomplete">
          <mat-option *ngFor="let profession of filteredProfession$ | async" [value]="profession">
            <mat-icon matPrefix svgIcon="search"></mat-icon> {{ profession }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field
        class="side-filter-form__field"
        appearance="outline"
      >
        <input
          type="text"
          matInput
          placeholder="Where"
          [matAutocomplete]="whereSelect"
          formControlName="where"
        >

        <mat-icon matPrefix svgIcon="geotag"></mat-icon>

        <mat-autocomplete #whereSelect="matAutocomplete">
          <mat-option *ngFor="let city of filteredCities$ | async" [value]="city">
            <mat-icon matPrefix svgIcon="geotag"></mat-icon> {{ city }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </fieldset>

    <fieldset class="side-filter-form__fieldset">
      <h3 class="side-filter-form__legend">Category</h3>

      <mat-chip-list
        class="side-filter-form__chip-list"
        #chipList
        aria-label="Categories"
      >
        <mat-chip
          *ngFor="let category of categories"
          (removed)="onRemove(category)">
          {{ category }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

      <mat-form-field
        class="side-filter-form__field"
        appearance="outline"
      >
        <input
          placeholder="Search category"
          matInput
          [matAutocomplete]="autoCategory"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="onAdd($event)"
          formControlName="category"
        >

        <mat-icon matPrefix svgIcon="search"></mat-icon>

        <mat-autocomplete #autoCategory="matAutocomplete" (optionSelected)="onSelect($event)">
          <mat-option *ngFor="let category of filteredCategories$ | async" [value]="category">
            <mat-icon matPrefix svgIcon="search"></mat-icon> {{ category }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </fieldset>

    <fieldset class="side-filter-form__fieldset side-filter-form__fieldset--accordion">
      <h3 class="side-filter-form__legend" hidden>Group filters</h3>
      <mat-accordion displayMode="flat" multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Job Type</mat-panel-title>
          </mat-expansion-panel-header>

          <app-checkbox
            class="side-filter-form__checkbox"
            value="One time"
            amount="23251"
          ></app-checkbox>
          <app-checkbox
            class="side-filter-form__checkbox"
            value="Part time"
            amount="1702"
            [checked]="true"
          ></app-checkbox>
          <app-checkbox
            class="side-filter-form__checkbox"
            value="Full time"
            amount="21975"
          ></app-checkbox>

          <mat-slide-toggle class="side-filter-form__toggle" [checked]="true">
            I’m looking for Intern
          </mat-slide-toggle>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Skill level</mat-panel-title>
          </mat-expansion-panel-header>

          <app-checkbox
            class="side-filter-form__checkbox"
            value="Beginner"
            amount="32312"
            [checked]="true"
            [disabled]="true"
          ></app-checkbox>
          <app-checkbox
            class="side-filter-form__checkbox"
            value="Intermediate"
            amount="1702"
          ></app-checkbox>
          <app-checkbox
            class="side-filter-form__checkbox"
            value="Expert"
            amount="975"
          ></app-checkbox>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Payment type</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-radio-group aria-label="Payment type">
            <app-radio-button
              class="side-filter-form__radio"
              valueId="1"
              value="Hourly"
              amount="23251"
            ></app-radio-button>
            <app-radio-button
              class="side-filter-form__radio"
              valueId="2"
              value="Budget"
              amount="1702"
              [checked]="true"
            ></app-radio-button>
            <app-radio-button
              class="side-filter-form__radio"
              valueId="1"
              value="Salary"
              amount="21975"
            ></app-radio-button>
            <app-radio-button
              class="side-filter-form__radio"
              valueId="1"
              value="No Reward"
              amount="21975"
            ></app-radio-button>
          </mat-radio-group>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Payment rate</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="side-filter-form__range">
            <mat-form-field
              class="side-filter-form__range-field"
              appearance="outline"
            >
              <input matInput type="number" placeholder="min">
              <mat-icon matPrefix svgIcon="dollar"></mat-icon>
            </mat-form-field>

            <mat-form-field
              class="side-filter-form__range-field"
              appearance="outline"
            >
              <input matInput type="number" placeholder="max">
              <mat-icon matPrefix svgIcon="dollar"></mat-icon>
            </mat-form-field>
          </div>
          <mat-slide-toggle
            class="side-filter-form__toggle side-filter-form__toggle--rate"
            [checked]="true"
          >
            Interval rate
          </mat-slide-toggle>
        </mat-expansion-panel>
      </mat-accordion>
    </fieldset>
  </div>

  <app-side-filter-footer
    (canceled)="onCancel()"
    (submitted)="onSubmit()"
  ></app-side-filter-footer>
</form>
