$_white:                                        #FFFFFF;
$_gallery:                                      #EFEFEF;
$_geyser:                                       #CFD8DC;
$_alice-blue:                                   #F9FDFF;
$_tower-gray:                                   #B0BEC5;
$_gull-gray:                                    #90A4AE;
$_river-bed:                                    #4C585D;
$_prussian-blue:                                #013349;
$_ebony-clay:                                   #1F2E34;
$_black:                                        #000000;
$_dodger-blue:                                  #13B0FF;


$text-color-primary:                            $_white;
$text-color-secondary:                          $_gull-gray;
$text-color-tertiary:                           $_tower-gray;
$text-color-quaternary:                         $_river-bed;
$text-color-quinary:                            $_ebony-clay;

$background-interactive-primary:                $_dodger-blue;
$background-interactive-primary-disabled:       rgba( $_dodger-blue, 0.5 );
$background-interactive-secondary:              $_alice-blue;

$border-color:                                  $_geyser;
$border-color-secondary:                        $_gull-gray;
$border-interactive-primary-disabled:           rgba( $_dodger-blue, 0.5 );

$color-attract-attention:                       $_prussian-blue;

$background-slide-toggle-checked:               $_gallery;
$chip-background-primary:                       $_gallery;

$box-shadow-color-dark:                         $_black;

$svg-color-active:                              $_ebony-clay;

$time-transition:                               0.2s;

$indentation-default:                           24px;
