@import 'src/style/variables';

:host {
  display: block;
}

.radio-button {
  &__amount {
    margin-left: 8px;
  }

  &::ng-deep {
    .mat-radio-outer-circle {
      border-color: $border-color;
      border-width: 1px;
    }

    .mat-radio-container,
    .mat-radio-outer-circle,
    .mat-radio-inner-circle {
      width: 14px;
      height: 14px;
    }

    .mat-radio-inner-circle {
      transform: scale(0);
    }

    .mat-radio-label-content {
      padding-left: 12px;
      line-height: 24px;
    }

    &.mat-radio-checked .mat-radio-inner-circle {
      transform: scale(0.58);
    }
  }
}
